<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Tobook{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/logo-tobook.png') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/auto_style.css') }}" />
            <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
            <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jslider.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/jslider.blue.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/jslider.plastic.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/jslider.round.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/jslider.round.plastic.css') }}" type="text/css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
        {% endblock %}
        <meta name="ToBook" content="ToBook">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include ('footer/footer.html.twig') %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/auto_jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/auto_script.js') }}"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/jquery.leanModal.min.js') }}"></script>
            <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('js/skel.min.js') }}"></script>
            <script src="{{ asset('js/util.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
            <script type="text/javascript">
                $("#modal_trigger").leanModal({top : 140, overlay : 0.6, closeButton: ".modal_close" });
                $(function(){
                    // Calling Login Form
                    $("#login_form").click(function(){
                        $(".social_login").hide();
                        $(".user_login").show();
                        return false;
                    });

                    // Calling Register Form
                    $("#register_form").click(function(){
                        $(".social_login").hide();
                        $(".user_register").show();
                        $(".header_title").text('Register');
                        return false;
                    });

                    // Going back to Social Forms
                    $(".back_btn").click(function(){
                        $(".user_login").hide();
                        $(".user_register").hide();
                        $(".social_login").show();
                        $(".header_title").text('Login');
                        return false;
                    });

                })
            </script>
            <script type="text/javascript">
                //<!--
                function change_onglet(name)
                {
                    document.getElementById('onglet_'+anc_onglet).className = 'onglet_0 onglet';
                    document.getElementById('onglet_'+name).className = 'onglet_1 onglet';
                    document.getElementById('contenu_onglet_'+anc_onglet).style.display = 'none';
                    document.getElementById('contenu_onglet_'+name).style.display = 'block';
                    anc_onglet = name;
                }
                //-->
            </script>
            <script type="text/javascript">
                //<!--
                var anc_onglet = 'quoi';
                change_onglet(anc_onglet);
                //-->
            </script>

        {% endblock %}
    </body>
</html>
