<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="ToBook" content="ToBook">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Tobook - {% block title %}Home{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/logo-tobook.png') }}" />

        {% block stylesheets %}
        <!-- ------ Rétrocompatibilité IE tmtc ------ -->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

        <!-- ------ J'ai regroupé tous les fichiers jsliderBLABLABLABLA.css en un seul ------ -->
        <link rel="stylesheet" href="{{ asset('css/jslider.css') }}" type="text/css">

        <!-- ------ Ceux deux là modifient les mêmes classes, mais je n'ai pas trouvé leur utilité pour l'instant ------ -->
        <link rel="stylesheet" href="{{ asset('css/auto_style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/auto_style2.css') }}" />

        <!-- ------ Les fichiers utiles (parce qu'il en fallait) ------ -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
        {% endblock %}

        {% block extracss %}
        {% endblock %}

        {% block javascript %}
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.leanModal.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ asset('js/skel.min.js') }}"></script>
        <script src="{{ asset('js/util.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        {% endblock %}
    </head>    
    <body>
        {% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include ('footer/footer.html.twig') %}{% endblock %}
    </body>
</html>