{% extends 'base.html.twig' %}


{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}

{% block body %}
	<article id="main">
        <header id="fildarian">
            <span style="font-size: 1.1em;">
               <a href="{{ path('home') }}" style="padding: 0 2em;" class="colorvert ariane">&#60; Retour</a>
            </span>
            <span class="ariane"><!-- Génération d'un fil d'Ariane dynamique -->
            	<a href="{{ path('home') }}">Accueil</a> > <a href=>Login</a></span>
        </header> 
    </article>


    <div class="content contact">

        <img style="width:15%;" class="imagecontact" src="{{ asset('img/logo-tobook.png') }}" alt="Logo Tobook" title="Besoin d'une information ?" />



        <h2 class="major after">Je m'inscris</h2>
        <!-- A CHANGER SOON -->
        <div class="formulaire_contact">
        	{% trans_default_domain 'FOSUserBundle' %}
        	{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        		<font  >Nom </font>
        		<input class='btn02' type='text' name='nom' value=''>

        		<font  >Prénom</font>
        		{{ form_widget(form.username) }}
				{{ form_errors(form.username) }}

        		<font  >Adresse mail </font>
        		{{ form_widget(form.email) }}
				{{ form_errors(form.email) }}

        		<font  >Mot de passe </font>
        		{{ form_widget(form.plainPassword.first) }}
				{{ form_errors(form.plainPassword.first) }}

        		<font  >Confirmation de Mot de passe </font>
				{{ form_widget(form.plainPassword.second) }}
				{{ form_errors(form.plainPassword.second) }}

        		<br>
        		<input class='btn01' type='reset' value='Cancel'>
        		<input class='btn01' type='submit' value="{{ 'registration.submit'|trans }}">
        	{{ form_end(form) }}
        </div>
    </div>
    {% block footer %}{% include ('footer/footer.html.twig') %}{% endblock %}
    {% endblock %}




{% block stylesheets %}
	 <style type="text/css">
            /*
            body {
            color: purple;
            background-color: #f5f5f5 ;

            }

            article {
            color: #000000;
            background-color: #000000 ;
            margin-left: auto;
            margin-right: auto;
            height : 600px ; 
            width : 900px 
            }
            article a:link,  article a:visited,  article a:active,  article a:hover {
            color: #000000;
            width: 100%;
            }

            .layout { font-family: Georgia, serif; }
            .layout-slider {margin-top: 15px; margin-bottom: 10px; width: 50%; }
            .layout-slider-settings { font-size: 12px; }
            .layout-slider-settings pre { font-family: Courier; }
            .tagh { text-align: left; vertical-align:middle ; }
            */
        </style>
    {% endblock %}