{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <!-- Banner || Bannière tout en haut -->
    <section id="banner">
        <div class="inner">
            <img src="{{ asset('img/logo-tobook.png') }}" alt="Tobook" title="Logo de Tobook" /> 
            <p><strong class="servezvous">Servez-vous !</strong></p>

            <!-- Formulaire de recherche -->
            <form class="" method="POST" action="{{ path('recherche') }}">
                <div class="row uniform">
                    <div class="12u$">
                        <ul class="actions">
                            <li class="chercheblock">
                                <!-- Nota : Le système d'autocomplétion de ville ne fonctionne pas -->
                                <input list='#ville' type="text" name="ville" id="query" placeholder="Ville / Code postal" onkeyup="autocomplet()" autocomplete="on" value="" />
                            </li>
                            
                            <li class="chercheblock">
                                <div class="select-wrapper">
                                    <select name="categorie" id="category">
                                        <option value='3' >Chambres d'hotes</option>
                                        <option value='2' >Gîtes</option>
                                        <option value='1' selected>Hôtels</option>
                                        <option value='8' >Musées</option>
                                        <option value='5' >Restaurants</option>
                                    </select>
                                </div>
                            </li>
                            <li class="chercheblock">
                                <input type="submit" value="Rechercher" class="special icon_button "/>                                  
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- One || Les quatre blocs gris -->
    <section id="one" class="wrapper alt style2">
        <ul class="features">
            <li>
                <div class="content">
                    <span>
                        <img src="{{ asset('img/icon-voyageur.png') }}" alt="Icône voyageur" title="Icône voyageur" />
                    </span>
                    <h3 class="major">Je recherche un hôtel</h3>
                    <p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit feugiat ante elementum amet arcu. Maecenas vulputate turpis faucibus lorem ipsum dolor sit amet.</p>
                    <ul class="actions">
                        <li><a href="#" class="button">En savoir +</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="content">
                    <span>
                        <img src="{{ asset('img/icon-ampoule.png') }}" alt="Icône ampoule" title="Pourquoi Tobook ?"/>
                    </span>
                    <h3 class="major">Pourquoi Tobook ?</h3>
                    <p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit feugiat ante elementum amet arcu. Maecenas vulputate turpis faucibus lorem ipsum dolor sit amet.</p>
                    <ul class="actions">
                        <li><a href="pourquoi.php" class="button">Je découvre</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="content">
                    <span>
                        <img src="{{ asset('img/icon-pro.png') }}" alt="Icône pro" title="Je suis un prestataire" />
                    </span>
                    <h3 class="major">Je suis un prestataire</h3>
                    <p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit feugiat ante elementum amet arcu. Maecenas vulputate turpis faucibus lorem ipsum dolor sit amet.</p>
                    <ul class="actions">
                        <li><a href="{{ path('fos_user_registration_register') }}" class="button">Je m'inscris</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="content">
                    <span>
                        <img src="{{ asset('img/icon-contact.png') }}" alt="Icône Contact" title="Besoin d'une information ?" />
                    </span>
                    <h3 class="major">Besoin d'une information ?</h3>
                    <p>Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit feugiat ante elementum amet arcu. Maecenas vulputate turpis faucibus lorem ipsum dolor sit amet.</p>
                    <ul class="actions">
                        <li><a href="contact.php" class="button">Contactez-nous</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>

    <!-- Two || Liste de destinations phares -->
    <section id="two" class="wrapper alt">
        <section class="spotlight">
            <div class="image"><img src="{{ asset('img/suite-romantique-vue-eiffel-paris-sexyhotelsparis-1000x675.jpg') }}" alt="" /></div>
            <div class="content">
                <h3 class="major">Paris</h3>
                <span>Le charme à la française</span>
                <p class="text_listinghotel">Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit vitae. In feugiat ante elementum amet arcu. Maecenas vulputate turpis faucibus, convallis ante et, bibendum ligula. Integer porttitor lacus.
                <ul class="actions">
                    <li><a href="#" class="button button_liste_hotel">Liste des hôtels</a></li>
                </ul>   
                    </p>
                </div>
        </section>
        <section class="spotlight">
            <div class="image"><img src="{{ asset('img/One-Tower-Bridge.jpg') }}" alt="London Bridge" title "Photo Londres" /></div>
            <div class="content">
                <h3 class="major">Londres</h3>
                <span>Une destination "so British my dear"</span>
                    <p class="text_listinghotel">Etiam finibus pharetra purus, imperdiet sagittis mauris hendrerit vitae. In feugiat ante elementum amet arcu. Maecenas vulputate turpis faucibus, convallis ante et, bibendum ligula. Integer porttitor lacus.
                <ul class="actions">
                    <li><a href="#" class="button button_liste_hotel">Liste des hôtels</a></li>
                </ul>   
                </p>
            </div>
        </section>

        <!-- Three || Bloc vert foncé avant le footer -->
        <section id="three" class="wrapper style1 special">
            <div class="inner narrow">
                <h3 class="major special">Tobook c'est l'assurance d'une réservation au meilleur prix <br>et d'une relation directe entre hôteliers et particuliers.</h3>
                <p id="text_inner">Sagittis mauris hendrerit vitae feugiat etiam ante elementum <br />vulputate faucibus convallis bibendum ligula.</p>
                <ul class="actions">
                    <li><a href="{{ path('fos_user_registration_register') }}" class="button special big">Je m'inscris</a></li>
                </ul>
            </div>
        </section>
    </section>
{% endblock %}

{% block extracss %}
    <style type="text/css">
        nav {
            color: #35F8D4;
        }
        article {
            color: #000000;
        }
        article a:link,  article a:visited,  article a:active,  article a:hover {
            color: #000000;
        }
        footer {
            color: #FFFFFF;
            background-color: #0ECB56 ;
        }             
        footer a:link,  footer a:visited,  footer a:active,  footer a:hover {
            color: #FFFFFF;
        }
        .layout { font-family: Georgia, serif; }
        .layout-slider {margin-top: 15px; margin-bottom: 10px; width: 50%; }
        .layout-slider-settings { font-size: 12px; }
        .layout-slider-settings pre { font-family: Courier; }
        .tagh { text-align: left; vertical-align:middle ; }
        INPUT {
            /* margin-top: 8px; */
            font-size: 125%;
            height: 25px;
        }
        @-moz-document url-prefix()
            {
                INPUT {
                    /* margin-top: 8px; */
                    font-size: 100%;
                }
        }
        INPUT.btn02 {
            /* margin-top: 8px; */
            height: 25px;
        }
        INPUT.btn01 {
            width: 300px;
            height: 25px;
        }
        INPUT.typeahead {
            width: 300px;
            height: 25px;
        }
        SELECT.btn01 {
            width: 308px;
            height: 25px;
            font-size: 125%;
        }
        .impacentre{
            display: block;
            margin-left: auto;
            margin-right: auto
        }
        #bornes_prix{
            /*display: inline-block;*/
            float: left;
            margin-top: -2px;
        }
        #bornes_prix span{
            font-weight: bold;
        }
        #slider_prix{
            /*margin-left: 148px;
            margin-right: 9px;*/
            margin: 1px 9px 0 120px;
        }
        #ville{
            /*margin-left: 148px;
            margin-right: 9px;*/
            margin: 1px 9px 0 120px;
        }   
        #scrollable-dropdown-menu {
            max-height: 150px;
            overflow-y: auto;
        }
        #typeahead{
            width: 300px;
        }
        .fondform{
            background-color: #2E2E2E ;
            opacity: 0.65 ;
        }
        </style>
{% endblock %}
